<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.include.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/accounts/register.css" />
    <link rel="stylesheet" type="text/css" href="/css/accounts/about.css" />
  </head>
  <body>
    <%- include('../includes/default-body.include.ejs') %>
    <div id="wrapper">
      <div class="wrapper__center-form">
        <form class="fullscreen-form" id="registerForm">
          <div class="fullscreen-form__head">
            <h1>Fannst Account Service</h1>
          </div>
          <fieldset>
            <legend class="form-title">Login to your Fannst-Account</legend>
            <p class="form-subtitle">Fields with <span>*</span> are required.</p>
            <div class="fullscreen-form__field">
              <label>Email Address <span>*</span></label>
              <input type="text" required />
            </div>
            <div class="fullscreen-form__field">
              <label>Password <span>*</span></label>
              <input type="password" required />
            </div>
            <div class="btn__left-right">
              <a href="/accounts/register" class="btn btn-secondary">Register</a>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </fieldset>
        </form>
      </div>

      <%- include('includes/about.include.ejs') %>
    </div>

    <%- include('../includes/footer.include.ejs') %>
  </body>
</html>