<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.include.ejs') %>
  </head>
  <body>
    <div id="wrapper" class="wrapper">
      <div class="wrapper__center-form">
        <form id="registerForm">
          <fieldset>
            <legend></legend>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>