<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.include.ejs') %>
    <script src="/js/accounts/register.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/css/accounts/register.css" />
    <link rel="stylesheet" type="text/css" href="/css/accounts/about.css" />
  </head>
  <body>
    <%- include('../includes/default-body.include.ejs') %>
    <div id="wrapper">
      <div class="wrapper__center-form">
        <form class="fullscreen-form" id="registerForm">
          <div class="fullscreen-form__head">
            <h1>Fannst Account Service</h1>
          </div>
          <fieldset>
            <legend class="form-title">Register</legend>
            <p class="form-subtitle">Create your Fannst-Account</p>
            <div class="fullscreen-form__error" hidden id="errorMessage"></div>
            <div class="fullscreen-form__field">
              <label>Full name <span>*</span></label>
              <input type="text" id="a_full_name" required />
            </div>
            <div class="fullscreen-form__field">
              <label>Username <span>*</span></label>
              <input type="text" id="a_username" required />
            </div>
            <div class="fullscreen-form__field">
              <label>Domain </label>
              <input type="text" id="a_domain" placeholder="default: fannst.nl" />
            </div>
            <small class="fullscreen-form__field-subtext">
              In almost every case, use your own domain. This cannot be modified
            </small>
            <hr />
            <div class="fullscreen-form__field">
              <label>Password <span>*</span></label>
              <input type="password" id="a_password" required />
            </div>
            <div class="fullscreen-form__field">
              <label>Confirm password <span>*</span></label>
              <input type="password" id="a_password_confirm" required />
            </div>
            <div class="btn__left-right">
              <a href="/accounts/login" class="btn btn-secondary">Login</a>
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </fieldset>
        </form>
      </div>
      <%- include('includes/about.include.ejs') %>
    </div>
    <%- include('../includes/footer.include.ejs') %>
  </body>
</html>