// =====================================
// Reset CSS
// =====================================

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// =====================================
// Default styling
// =====================================

body, html
{
  background-color: #202020;
  background-image: url('/images/noise.png');
  background-repeat: repeat;
  background-size: auto;
  font-family: 'Grenze Gotisch', cursive;
  scroll-behavior: smooth;
}

.wrapper
{
  background-color: #ffffff;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.8rem;
  min-height: calc(100vh - 2 * 0.8rem);
}

.wrapper__center-form
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.fullscreen-form
{
  background-color: #ffffff;
  border-radius: 0.4rem;
  max-width: 400px;
  width: 90vw;
  box-shadow: 2px 2px 9px rgba(#020202, 0.2);

  & > fieldset
  {
    margin: 0.8rem;
  }
}

.form-title
{
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: #222222;
  margin-left: auto;
  margin-right: auto;
}

.form-subtitle {
  color: #222222;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.fullscreen-form__head
{
  padding: 1.2rem;
  background: rgba(19,60,75,1);
  background: -moz-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,60,75,1)), color-stop(50%, rgba(14,94,122,1)), color-stop(51%, rgba(21,129,163,1)), color-stop(100%, rgba(19,60,75,1)));
  background: -webkit-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: -o-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: -ms-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: linear-gradient(to right, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133c4b', endColorstr='#133c4b', GradientType=1 );
  color: rgba(#ffffff, 0.8);
  font-size: 1.2rem;
  user-select: none;
  pointer-events: none;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.fullscreen-form__field
{
  display: flex;
  margin-bottom: 0.6em;
  align-items: center;

  & > label
  {
    flex: 2;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    color: #222222;
    font-weight: 500;

    & > span
    {
      color: #1582a3;
      font-weight: 900;
    }
  }

  & > input
  {
    flex: 4;
    padding: 0.4rem;
    border-radius: 0.2rem;
    border: 1px solid #adadad;

    &:focus
    {
      outline: none;
      border: 1px solid #1582a3;
    }
  }
}

.fullscreen-form__field-subtext
{
  color: #343434;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  display: block;
  margin-left: auto;
  word-wrap: break-word;

  &::before
  {
    content: '*'
  }
}

.fannst-language
{
  position: fixed;
  top: 0.2rem;
  left: 1rem;
  background-color: #222222;
  padding: 0.2rem;
  border-radius: 0.3rem;

  & > form
  {
    & > button, & > select
    {
      -moz-appearance: none;
      appearance: none;
      border: 1px solid #f5f5f5;
      -webkit-appearance: none;
      padding: 0.15rem 0.4rem;
      border-radius: 0.1rem;
      background-color: #d4d4d4;
      color: #222222;
      font-weight: 500;

      &:focus
      {
        outline: none;
      }
    }

    & > button
    {
      cursor: pointer;
    }
  }
}

hr
{
  border: none;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

// =====================================
// Default buttons
// =====================================

.btn
{
  background: none;
  border: none;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.6rem 1rem;
  font-weight: 600;
  display: inline-block;
  border-radius: 0.12rem;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  cursor: pointer;
}

.btn.btn-primary
{
  color: #ffffff;
  background-color: #1582a3;

  &:hover
  {
    box-shadow: 0 0 6px inset rgba(#000, 0.3);
  }
}

.btn.btn-secondary
{
  color: #1582a3;
  background-color: rgba(#1582a3, 0.15);

  &:hover{
    background-color: rgba(#1582a3, 0.3);
  }
}

.btn__left-right
{
  clear: both;
  
  & > a, & > button
  {
    &:nth-child(2)
    {
      float: right;
    }
  }  
}

// =====================================
// Footer
// =====================================

.footer
{
  margin-top: 1rem;
  padding: 0.8rem;
}

.footer__middle
{
  display: flex;

  & > .footer__middle__left
  {
    flex: 3;
    text-align: center;
  }

  & > .footer__middle__right
  {
    text-align: center;
    flex: 3;
  }

  & > div
  {
    padding: 0.4rem;

    &:not(:first-child)
    {
      border-left: 1px solid rgba(#ffffff, 0.5);
    }

    & > ul
    {
      margin-top: 0.4rem;

      & > li
      {
        & > a
        {
          color: #d4d4d4;
          font-size: 0.9rem;
          text-decoration: none;
          font-family: 'Lato', sans-serif;

          &:hover
          {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer__middle__section-title
{
  & > p
  {
    color: rgba(#f5f5f5, .9);
    font-family: 'Lato', sans-serif;

    & > strong
    {
      font-weight: 600;
      display: block;
    }
  }
}

.footer_bottom
{
  margin-top: 1rem;
  text-align: center;

  & > p
  {
    color: rgba(#f5f5f5, .9);
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;

    & > small
    {
      font-size: 0.8rem;
      color: rgba(#f5f5f5, .7);

      & > a
      {
        color: #1582a3;
        text-decoration: none;

        &:hover
        {
          text-decoration: underline;
        }
      }
    }
  }
}