<div class="default-loader__overlay" hidden id="loadingOverlay">
  <div class="default-loader">
    <div class="default-loader__message">
      <p>
        <small id="defaultLoaderMessage">loading ...</small>
      </p>
    </div>
    <div class="default-loader__bar">
      <div class="default-loading__bar-sm"></div>
    </div>
  </div>
</div>
<div class="fannst-language">
  <form action="/session/change-language" method="GET">
    <select name="lang">
      <option value="en">English</option>
      <option value="nl">Nederlands</option>
    </select>
    <button type="submit">Go</button>
  </form>
</div>
<div class="fannst-account">
  <button id="fannstAccountIcon" class="fannst-account__icon">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <path d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/>
    </svg>
  </button>

  <div id=fannstAccountMenu hidden class="fannst-account__menu">
    <div class="fannst-account__menu-triangle">
    
    </div>
    <div class="fannst-account__menu__top">
      <p>
        <strong><%= (session.logged ? session.username + '@' + session.domain : 'Not logged in') %></strong>
        <br />
        Gas: <%= (session.logged ? session.gas : 0.0) %>
        <br />
        Disk space: <%= (session.logged ? session.diskspace.used : 0.0) %> / <%= (session.logged ? session.diskspace.max : 1000) %> MB
      </p>
      <hr />
      <div class="fannst-account__menu__top-buttons">
        <% if (session.logged) { %>
          <a class="btn btn-primary" href="/accounts/logout">Logout</a>
        <% } else { %>
          <a class="btn btn-secondary" href="/accounts/login">Login</a>
          <a class="btn btn-primary" href="/accounts/register">Register</a>
        <% } %>
      </div>
    </div>
  </div>
</div>