<!--
  Copyright Fannst Software 2020
-->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title %> - Fannst</title>
<!-- SEO Stuff -->
<meta name="description" content="<%= description %>" />
<meta name="author" content="<%= author %>" />
<meta name="keywords" content="<%= keywords %>" />
<meta name="copyright" content="Fannst Software" />
<!-- Google fonts -->
<link
  href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100;200;300;400;500;600;700;800&display=swap"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap"
  rel="stylesheet"
/> 
<!-- Default stylesheets -->
<link rel="stylesheet" type="text/css" href="/css/default.css" />
<!-- Default scripts -->
<script src="/js/loader.js" defer></script>