<div class="fannst-language">
  <form action="/session/change-language" method="GET">
    <select name="lang">
      <option value="en">English</option>
      <option value="nl">Nederlands</option>
    </select>
    <button type="submit">Go</button>
  </form>
</div>