<footer class="footer">
  <div class="footer__middle">
    <div class="footer__middle__left">
      <div class="footer__middle__section-title">
        <p>
          <strong>Links</strong>
        </p>
      </div>
      <ul>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="footer__middle__right">
      <div class="footer__middle__section-title">
        <p>
          <strong>Services</strong>
        </p>
      </div>
      <ul>
        <li>
          <a target="blank" href="https://mail.fannst.nl">Fannst Mail</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer_bottom">
    <p>
      Copyright Fannst Software 2018 - <%= new Date().getFullYear() %>
      <br />
      <small>Made by <a href="https://me.fannst.nl" target="blank">Luke Rieff</a></small>
    </p>
  </div>
</footer>