<footer class="ftr">
  <div class="ftr__ctr">
    <p class="ftr__ctr-txt">
      Sent using FSMTP-V2 by <a href="https://me.fannst.nl">Luke A.C.A. Rieff</a>
      <br />
      <small>For any further inquiries, send message to: <a href="mailto:lrieff@fannst.nl">lrieff@fannst.nl</a></small>
    </p>
    <hr />
    <div class="ftr__ctr-ref">
      <ul>
        <li>
          <a href="https://github.com/skywa04885/fsmtp-v2">Github</a>
        </li>
        <li>
          <a href="https://software.fannst.nl">Fannst Software</a>
        </li>
      </ul>
    </div>
  </div>
</footer>