<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{ subject }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style type="text/css">
  body,html{margin:0;padding:0;font-family:sans-serif;}
  /*Header*/
  .wrap{padding:1rem;}
  .hdr{background: rgba(19,60,75,1);
  background: -moz-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,60,75,1)), color-stop(50%, rgba(14,94,122,1)), color-stop(51%, rgba(21,129,163,1)), color-stop(100%, rgba(19,60,75,1)));
  background: -webkit-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: -o-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: -ms-linear-gradient(left, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  background: linear-gradient(to right, rgba(19,60,75,1) 0%, rgba(14,94,122,1) 50%, rgba(21,129,163,1) 51%, rgba(19,60,75,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#133c4b', endColorstr='#133c4b', GradientType=1 );
  display:flex;align-items:center;justify-content:center;padding:0.9rem;border-bottom:0.4rem solid #1b1b1b;}
  /*Footer*/
  .ftr {background: rgba(32,34,36,1);
  background: -moz-linear-gradient(left, rgba(32,34,36,1) 0%, rgba(34,37,38,1) 50%, rgba(37,40,41,1) 51%, rgba(25,26,27,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(32,34,36,1)), color-stop(50%, rgba(34,37,38,1)), color-stop(51%, rgba(37,40,41,1)), color-stop(100%, rgba(25,26,27,1)));
  background: -webkit-linear-gradient(left, rgba(32,34,36,1) 0%, rgba(34,37,38,1) 50%, rgba(37,40,41,1) 51%, rgba(25,26,27,1) 100%);
  background: -o-linear-gradient(left, rgba(32,34,36,1) 0%, rgba(34,37,38,1) 50%, rgba(37,40,41,1) 51%, rgba(25,26,27,1) 100%);
  background: -ms-linear-gradient(left, rgba(32,34,36,1) 0%, rgba(34,37,38,1) 50%, rgba(37,40,41,1) 51%, rgba(25,26,27,1) 100%);
  background: linear-gradient(to right, rgba(32,34,36,1) 0%, rgba(34,37,38,1) 50%, rgba(37,40,41,1) 51%, rgba(25,26,27,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202224', endColorstr='#191a1b', GradientType=1);
  border-top: 1px solid #323232;
  padding: 0.8rem;}
  .ftr__ctr {text-align:center;}
  .ftr__ctr-txt{color:#fff;font-size: 0.9rem;}
  .ftr__ctr-txt>small{font-size:0.8rem;color:rgb(134, 134, 134)}
  .ftr__ctr-txt>small>a,.ftr__ctr-txt>a{color: #0875a7;text-decoration:none;}
  .ftr__ctr-txt>small>a:hover,.ftr__ctr-txt>a:hover{text-decoration:underline;}
  .ftr__ctr-ref>ul>li{display: inline-block;}
  .ftr__ctr-ref>ul>li:not(:last-child){margin-right: 0.4rem;}
  .ftr__ctr-ref>ul>li>a{display: block;background-color:#ddd;
  padding:0.3rem;color:#454545;text-decoration:none;border-radius:0.3rem;}
  .ftr__ctr>hr{border:none;border-bottom:1px solid #474747;}
</style>